/*
#57c7e0
#114b5f
#456990
#f45b69
#6b2737
 */
.test-frameOneBlue {
  color: #57c7e0;
}

.test-darkBlue {
  color: #114b5f;
}

.test-lightBlue {
  color: #456990;
}

.test-pink {
  color: #f45b69;
}

.test-burgundy {
  color: #6b2737;
}


* {
  font-family: sans-serif; /* Change your font family */
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #456990;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  color: #114b5f;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #456990;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #456990;
}
